<div class="row">
    <div class="col-xs-12">
        <form action="">
            <div class="row">
                <div class="col-xs-5 from-group">
                    <label for="name">Name</label>
                    <input type="text"
                    id="name" class="form-control"
                    #nameInput>
                </div>
                <div class="col-md-3 from-group">
                    <label for="amount">Amount</label>
                    <input type="text"
                    id="amount" class="form-control"
                    #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success " type="submit" (click)="onAddClicked($event,amountInput,nameInput)">Add</button>
  
                    <button class="btn btn-danger" type="submit" (click)="onDeleteClicked($event,nameInput)"
                    >Delete</button>
 
                
                    <button class="btn btn-primary" type="submit"
                    (click)="onClearClicked($event)">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
